.title__container {
  display: flex;
  justify-content: space-between;
}

.card-img-top {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.card-text {
  font-weight: 200;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: rgb(104, 100, 100);
}

.add_product {
  padding: 0rem;
  background: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  box-shadow: none;
}
.add_product:hover {
  background-color: turquoise;
}
.add_productIcon {
  font-size: 1.3rem;
  color: turquoise;
}
.add_product:hover .add_productIcon {
  color: white;
}
